.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.container {
  display:flex;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile and Tablet */
@media (max-width: 1119px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
